<div class="menu" >
	<h3>Explore</h3>
	 <ul>
 	<li><a href="">x New items</a></li>
	<li><a href="">x Most sold</a></li>
 	<li><a href="">x Public favourites</a></li>
    <li><a href="">x Editors choice</a></li>
	<li><a href="">x Awesome alchemy</a></li>
	<li><a href="">x Most visited</a></li>
	<li><a href="">x Excellent sellers</a></li>
  </ul>
</div>