<h2 class="text_green"><%= t("views.feedbacks.thanks.s1") %></h2>

<p><%= t("views.feedbacks.thanks.s2") %></p>
<a href=""><p style="text-decoration: underline; font-size: 12px; color: black;" onClick="$('the_feedback_box').hide(); return false;"><%= t("views.feedbacks.thanks.s3") %></p></a>