
<h2 class="text_green"><%= t("views.site.imprint.s1")%></h2>
<ul style="text-align: left;">
<li>Rihhi Michael Schmitz </li>
<li>Rudolf-Blum-Strasse 15 </li>
<li>52146 Würselen</li>
<li>Deutschland</li>
<li><br></li>
<li>michael@rihhi.de</li>
<li>0151 27570591</li>
</ul>

